<!DOCTYPE html>
<html lang="ru">
<head>
    {% from 'bootstrap5/utils.html' import render_messages %}
    {% block head %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Rubik+Beastly&display=swap');


    </style>

    {% endblock styles %}
    {% block title %}

    <title>{{ title if title else 'Flask-blog' }}</title>

    {% endblock title %}
    {% endblock head %}
</head>

<body>

<!--MENU-->
{% block menu %}

{% include 'menu.html' %}

{% endblock menu %}

<!--WRAPPER-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12 text-center">

            {{ render_messages() }}

            <div class="content">

            </div>
        </div>
    </div>


</div>

{% block main_body %}
{% endblock main_body %}

<!--FOOTER-->
{% block footer %}

<footer class="footer">Все права защищены!<br>
    &#169; Терехов Михаил 2021

</footer>

{% endblock footer %}

<!--SCRIPT-->
{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock scripts %}
</body>
</html>