{% extends 'layout.html' %}


{% block main_body %}


<div class="row d-flex h-100 justify-content-around mt-3">

    <div class="col-2">       
        
        <h5>Зарегистрированные: {{ users|count }}</h5>
        <ol class="list-unstyled">
            {% for user in users: %}
            <li>
                <div class="card_user">

                    <img src="{{ url_for('static', filename='profile_pics/' + 'users/' + user.username + '/' + 'account_img' + '/' + user.image_file) }}"
                         alt="" class="mr-1 mt-1 rounded-circle" style="width:30px;">
                    <a href="{{ url_for('users.user_posts', username=user.username)}}">{{ user.username }}</a> ({{
                    user.posts|count }})
                </div>
                {% if current_user.is_admin: %}
                <small style="color:red"><a
                        href="{{ url_for('users.delete_user', username=user.username) }}">удалить</a>?
                </small>
                {% else %}

                {% endif %}

            </li>

            {% endfor %}
        </ol>

    </div>


    <div class="col-auto">
        <div class="list_posts">
            <h5>Список ваших статей: </h5>

            <ol class="list-unstyled">
                {% for post in user.posts %}
                <li><a href="{{ url_for('posts.post', slug=post.slug)}}">{{ post.title|safe }}</a>
                    рубрика: <a href="{{ url_for('posts.category', category_str=post.category) }}">{{ post.category
                        }}</a></li>
                {% endfor %}
            </ol>

        </div>
    </div>
    <div class="col-auto">

        <img class="account-img " src="{{ image_file }}" style="width:250px">
        <div class="media-body mb-3">
            {% if current_user.is_admin %}
            <h4 class="account-heading;" style="color: red;">{{ current_user.username }}</h4>
            {% else %}
            <h4 class="account-heading;" style="color: green;">{{ current_user.username }}</h4>
            {% endif %}
            <p class="text-secondary" style="box-shadow: 0.5px 0.5px 0.5px 0.5px lightgreen; padding: 2px 4px;">
                {{ current_user.user_status }}</p>

            <p class="text-secondary">{{ current_user.email }}</p>
            {% if current_user.last_seen %}
            <p class="text-secondary">Последний раз входил: <mark>{{ current_user.last_seen.strftime('%d.%m.%Y %H.%M') }}</mark> </p>
            {% else %}
            <p class="text-secondary">Обновится после следующего входа</p>
            {% endif %}

            <!-- FORM HERE -->
            <button class="btn btn-outline-info"><a class="text-decoration-none"
                                                           href="{{ url_for('posts.new_post') }}">Новый пост</a>
            </button>
            <br>
            <br>
            <button class="btn btn-outline-primary"><a class="text-decoration-none"
                                                           href="{{ url_for('users.edit_user', username=current_user.username) }}">Редактировать</a>
                </button>
            </div>
        </div>


    </div>




{% endblock  %}


