{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block main_body %}

<h3 class="mt-3 text-center text-primary">Редактировать пользователя {{ user.username }}</h3>
<div class="row h-100 justify-content-between">
    <div class="col-1 align-self-center">
        <div class="d-flex justify-content-start col-3 m-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a href="{{ url_for('users.user_posts', username=user.username)  }}">
                <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Общее
                </button>
            </a>
            <a href="{{ url_for('users.action_user', username=user.username) }}">
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile"
                        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Активность
                </button>
            </a>
            <a href="{{ url_for('users.edit_user', username=user.username) }}">
                <button class="nav-link active" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages"
                        type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Редактировать
                </button>
            </a>
            <a href="{{ url_for('users.settings_user', username=user.username) }}">
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Настройки
                </button>
            </a>
        </div>
</div>
    </div>

        <div class="col-6 m-auto align-self-center">
            {% if (current_user.is_admin or current_user.is_moder) or current_user == user %}
                {{ render_form(form, button_size='lg') }}
            {% else %}
                <h3 class="text-danger">У вас нет прав для редактирования пользователя</h3>
            {% endif %}
        </div>
</div>

{% endblock  %}