{% extends 'layout.html' %}

{% block content %}


<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-auto">
        <h1 class="text-info">Статьи тега: {{ current_tag.name }}</h1>

            <ol>
            {% for post in name_tags %}

    <li><a href="{{ url_for('posts.post', slug=post.tag_post.slug) }}" style=" text-decoration: none;">

        {{ post.tag_post.title|capitalize }}</a> {{ post.tag_post.author.username }}</li>

    {% endfor %}
            </ol>


    </div>
</div>








{% endblock %}