{% extends 'layout.html' %}

{% block content %}

<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-auto">
        <h1 class="text-info">Статьи категории: {{ current_category.category }}</h1>

            <ol>
            {% for post in post_category %}

                <li><a href="{{ url_for('posts.post', slug=post.slug) }}" style=" text-decoration: none;"> {{ post.title|safe }}</a> ({{post.tags|count}})</li>

            {% endfor %}
            </ol>


    </div>
</div>

{% endblock %}