{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/form.html' import render_field %}
{% block main_body %}

<div class="row mt-3">
    <div class="col-8 m-auto">
        <div class="row d-flex justify-content-between">
            <div class="col">
                <img src="{{ url_for('static', filename='profile_pics/'  + 'users/' + post.author.username + '/account_img/' + post.author.image_file) }}"
                     alt="" class="rounded-circle align-self-center" style="width:40px;">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username)}}">
                    {{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y-%H.%M') }}</small>
                <a href="{{ url_for('posts.category', category_str=post.category) }}">{{ post.category }}</a>
            </div>

            <div class="col-auto">
                {% if post.author == current_user %}
                <a class="btn btn-secondary btn-sm m-2" href="{{ url_for('posts.update_post', slug=post.slug) }}">Обновить</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    Удалить
                </button>
                {% endif %}
            </div>

        </div>

        <div class="row">
            <div class="col-12 mt-2">
                <h2 class="article-title"> {{ post.title|safe }}</h2>
            </div>
            <div class="row d-flex justify-content-between mt-2 mb-2">
                <div class="col-8">
                    <p class="article-content" align="left">{{ post.content|safe}}</p>
                </div>
                <div class="col-auto d-flex">
                    <img src="{{ image_file }}" alt="post_img" style="width: 300px; align-self:center">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 d-flex justify-content-between m-auto">
            <div class="left_side_stat_post">&#128065; {{ post.views }}</div>
            <div class="right_side_stat_post">&#10084; {{ post.likes }}</div>
        </div>

    </div>

    <!--    TAGS-->

    <div class="row d-flex justify-content-center">
        {% for i in post.tags %}
        {% if post.author == current_user %}

        <div class="col-auto">
            <div class="row d-flex justify-content-between">
                <a href="{{ url_for('posts.tag', tag_str=i.name) }}">{{ i.name }}</a>
            </div>
            <div class="text-center">
                <a href="{{ url_for( 'posts.delete_tag', tag_id=i.id) }}" class="text-danger">Удалить</a>
            </div>


            {% else %}
            <div class="col-auto">

                <div class="row d-flex justify-content-between">
                    <a href="{{ url_for('posts.tag', tag_str=i.name) }}">{{ i.name }}</a>
                </div>
            </div>
            {% endif %}

        </div>


        {% endfor %}
    </div>
</div>


<div class="row mt-3">
    <div class="col-8 m-auto">
        {% if post.author == current_user %}

        <form method="post">
            {{ form_add_tag.csrf_token() }}
            {{ render_field(form_add_tag.tag_form, placeholder='Еcли несколько тегов, то через слеш /') }}
            {{ render_field(form_add_tag.submit, button_size='sm') }}
            {% else %}
            {% endif %}
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Удалить"></button>
                </div>
                <div class="modal-body">
                    Вы точно хотите удалить этот пост?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <form action="{{ url_for('posts.delete_post', slug=post.slug) }}" method="post">
                        <input type="submit" class="btn btn-danger" value="Удалить">

                    </form>
                </div>
            </div>
        </div>

    </div>


    <!--    COMMENT -->
    <div class="row">
        <div class="col-8 m-auto">

            <form method="POST" action="{{url_for('posts.post', slug=post.slug)}}">
                {{ render_form(form_add_comment, horizontal_columns=('lg', 5, 10), button_size='sm') }}
            </form>
        </div>


        <!--    COMMENT SIDE-->

        {% include 'post/comments.html' %}


    </div>
</div>
{% endblock %}